@import 'variables';
body {
  padding-top: 60px;
}

a, a:hover, a:focus {
  text-transform: none;
  text-decoration: none;
}

.ui-widget-overlay {
  background-color: rgba(144, 147, 153, 0.5) !important;
}

body .ui-dialog .ui-dialog-content {
  border: none;
  border-radius: 10px;
  box-shadow: none;
}

body .ui-dialog{
  border-radius: 10px;
  box-shadow: 0 4px 36px rgba(64, 85, 128, 0.08);
}

form {
  input{
    background-color: #f0f0f0;
    border-radius: 6px;
    border: 0;
    padding: 15px 20px;
    font-size: 20px;
    min-width: 0;
    width: 100%;
    -webkit-box-flex: 1;
    flex: 1;
    outline: none;
  }
}
