@import "variables";

:host {
  display: flex;
}

.dashboard {
  width: 30px;
  height: calc(100vh - 60px);
  position: relative;
  background: $blue;
  display: flex;
  flex-direction: column;
  padding: 50px 0 0 50px;
  transition-duration: 0.5s;
  position: relative;

  div{
    display: flex;
    justify-content: flex-end;

    img {
      cursor: pointer;
      filter: invert(1);
      position: absolute;
      width: 20px;
      top: 0;
      transform: rotate(180deg);
      transition-duration: 0.5s;
      margin-right: 13px;

      &.rotate {
        transform: rotate(0deg);
      }
    }
  }

  a{
    color: #fff;
    font-size: 30px;
    margin: 10px 0 0;
    cursor: pointer;
  }
}

.content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .col-3 {
    background-color: #fff;
    border: 1px solid #f2f2f2;
    text-align: center;
    padding: 55px 20px 35px;
    box-sizing: border-box;
    margin: 30px;
    height: 320px;
  }

  .description{
    margin-top: 34px;
    font-size: 18px;
    font-weight: 500;
    color: #545454;
    line-height: 30px;
  }
}
